* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #121213;
    margin: 0;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #3a3a3c;
}

.menu-left {
    display: flex;
}

.spacer {
    width: 32px;
    height: 29px;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 34px;
}

button {
    border: none;
    background: transparent;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

#gameboard {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    flex-wrap: wrap;
}

.tile {
    text-orientation: upright;
    margin: 2px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #3a3a3c;
    flex: 0 1 auto;
    color: white;
    text-align: center;
    vertical-align: baseline;
    font-size: 28px;
    font-weight: bold;
}

@keyframes pop {
    From {
        scale: 1;
    }
    To {
        scale: 1.15;
    }
}

.tile.filled {
    border: 2px solid #4d4e4f;
    animation: pop 0.075s;
}

#keyboard {
    margin: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

.keyboard-btns {
    background: grey;
    color: white;
    border-radius: 4px;
    width: 45px;
    height: 60px;
    margin: 3.5px;
    font-weight: bold;
    flex: 0 1 auto;
}

@keyframes rotate-in {
    From {
        transform: rotateX(0deg);
    }
    To {
        transform: rotateX(90deg);
    }
}

@keyframes rotate-out {
    From {
        transform: rotateX(90deg);
    }
    To {
        transform: rotateX(0deg);
    }
}

.tile.grey[data-rowpos="0"], .tile.yellow[data-rowpos="0"], .tile.green[data-rowpos="0"] {
    transition: background-color 0s 0.25s, border 0s 0.25s;
    animation: rotate-in 0.25s, rotate-out 0.25s 0.25s;
}

.tile.grey[data-rowpos="1"], .tile.yellow[data-rowpos="1"], .tile.green[data-rowpos="1"] {
    transition: background-color 0s 0.35s, border 0s 0.35s;
    animation: rotate-in 0.25s 0.1s, rotate-out 0.25s 0.35s;
}

.tile.grey[data-rowpos="2"], .tile.yellow[data-rowpos="2"], .tile.green[data-rowpos="2"] {
    transition: background-color 0s 0.45s, border 0s 0.45s;
    animation: rotate-in 0.25s 0.2s, rotate-out 0.25s 0.45s;
}

.tile.grey[data-rowpos="3"], .tile.yellow[data-rowpos="3"], .tile.green[data-rowpos="3"] {
    transition: background-color 0s 0.55s, border 0s 0.55s;
    animation: rotate-in 0.25s 0.3s, rotate-out 0.25s 0.55s;
}

.tile.grey[data-rowpos="4"], .tile.yellow[data-rowpos="4"], .tile.green[data-rowpos="4"] {
    transition: background-color 0s 0.65s, border 0s 0.65s;
    animation: rotate-in 0.25s 0.4s, rotate-out 0.25s 0.65s;
}

.tile.grey, .tile.yellow, .tile.green {
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.keyboard-btns.grey, .tile.grey {
    background-color: #3a3a3c;
}

.tile.grey {
    border: 2px solid #3a3a3c;
}

.keyboard-btns.yellow, .tile.yellow {
    background-color: #b59f3b;
}

.tile.yellow {
    border: 2px solid #b59f3b;
}

.keyboard-btns.green, .tile.green {
    background-color: #538d4e;
}

.tile.green {
    border: 2px solid #538d4e;
}

.keyboard-btns[data-key="BACKSPACE"] {
    width: 110px;
}

.keyboard-btns[data-key="ENTER"] {
    width: 70px;
}